.book-container{
   padding: 0 4rem 4rem 4rem;
}

.book-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;
}
.book-card{
    border: 1px solid rgb(194, 194, 194);
    background-color: white;
    width: 300px;
    height: 450px;
    border-radius: 5px;
    padding: 20px 10px 0 10px;
    display: flex;
    flex-direction: column;
}
.book-cover{
  width: 100%;
  height: 300px;
  max-width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 5px;
}
.book-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1;
  }
.book-link{
    text-decoration: none;
    color: inherit;
    font-size: larger;
}
.see-more-link{
    padding: 10px;
    text-decoration: none;
    background-color: rgb(255, 200, 0);
    border-radius: 5px;
    color: inherit;
}